@model Parcial2.Models.Cliente
@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Lista Clientes</h1>
<h2>@Model.Nombre</h2>
<h2>@Model.Apellido</h2>
<h2>@Model.Sueldo</h2>

